* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff2 binary

apps/api/internal/generated/** linguist-generated=true
packages/api-client/src/generated/** linguist-generated=true
